<p id="notice"><%= notice %></p>

<p>
  <strong>Persona ref id:</strong>
  <%= @persona.id %>
</p>

<p>
  <strong>Hogar ref id:</strong>
  <%= @persona.HOGAR_REF_ID %>
</p>

<p>
  <strong>P01:</strong>
  <%= @persona.P01 %>
</p>

<p>
  <strong>Sexo:</strong>
  <% if @persona.P02 == 1 %>
    M
  <% elsif @persona.P02 == 2 %>
    F
  <% else %>
    <%= @persona.P02 %>
  <% end %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @persona.P03 %>
</p>

<p>
  <strong>P05:</strong>
  <%= @persona.P05 %>
</p>

<p>
  <strong>P06:</strong>
  <%= @persona.P06 %>
</p>

<p>
  <strong>P07:</strong>
  <%= @persona.P07 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @persona.P12 %>
</p>

<p>
  <strong>Edadagru:</strong>
  <%= @persona.EDADAGRU %>
</p>

<p>
  <strong>Edadqui:</strong>
  <%= @persona.EDADQUI %>
</p>

<p>
  <strong>P08:</strong>
  <%= @persona.P08 %>
</p>

<p>
  <strong>P09:</strong>
  <%= @persona.P09 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @persona.P10 %>
</p>

<p>
  <strong>Condact:</strong>
  <%= @persona.CONDACT %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
